@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --bg-color: pink;
    --highlight-color: red;
    padding: 40px;
}

body {
    background-color: var(--bg-color);
    color: var(--highlight-color);
    font-family: "Montserrat", Arial, sans-serif;
    font-size: 20px;
}

p {
    max-width: 750px;
}

a {
    color: green;
    text-decoration: none;
}

a:hover {
    background-color: yellow;
}

li {
    list-style: none;
}

.cv {
    width: 100%;
    height: 100vh;
}

.focused-menu-item {
    position: absolute;
    transform: translate(-27px, -23px);
    font-size: 3.5rem;
}

.contact-form-container {
    max-width: 700px;
    height: 100%;
    /* width: 100%; */
    display: flex;
    border: 4px solid var(--highlight-color);
    border-radius: 5px;
    padding: 20px;
}

input[type=text],
input[type=email],
textarea,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid var(--highlight-color);
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--highlight-color);
    font-family: monospace;
    font-size: 16px;
}

textarea {
    resize: vertical;
}

input[type=submit] {
    width: 100%;
    background-color: var(--highlight-color);
    color: var(--bg-color);
    font-size: 20px;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: green;
}

.img-dvd {
    width: 500px;
}

.scrap {
    width: 300px;
    padding: 10px;
    vertical-align: middle;
    border-radius: 20px;
}

.row {
    width: 100%;
    max-width: 800px;
    text-align: center;
}

.gift-scrap {
    width: 300px;
    height: 200px;
    margin: 20px;
    vertical-align: middle;
    border-radius: 20px;
    background-color: pink;
    display: inline-block;
}

.gift-scrap-0 {
    background-color: #f82727;
}

.gift-scrap-1 {
    background-color: rgb(60, 179, 113);
}

.card-text {
    vertical-align: middle;
    text-align: center;
    line-height: 200px;
    margin: 0;
    color: darkblue;
    font-family: fantasy;
    font-size: 30px;
}

.tv {
    width: 640px;
    height: 480px;
    background-color: black;
    padding: 20px;
    border-radius: 20px;
}

.tv video {
    width: 100%;
    height: 100%;
}

.tv-label {
    position: relative;
    color: #71ff6c;
}

.tv-label img {
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.tv-label span {
    position: absolute;
    right: 60px;
    bottom: 20px;
}

.tv-remote {
    display: flex;
    padding: 20px;
}

.tv-remote-group {
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
}

.tv-remote-group button {
    margin: 5px;
    padding: 20px 10px;
    font-family: "Montserrat", Arial, sans-serif;
    border-radius: 10px;
    background-color: #1899D6;
    border: solid transparent;
    border-radius: 16px;
    border-width: 0 0 4px;
    color: white;
    border: none;
    cursor: pointer;
    min-width: 95px;
}

.tv-remote-group button:hover {
    background-color: #78b5d1;
}
